<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         strict="true"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Raekke TestSuite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/Raekke/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
