<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Bernard Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>
</phpunit>
